<ul class="actions">
	<li><a href="<%= login_path %>" data-login-url="<%= login_path %>">Authorization token</a></li>
	<li><a href="<%= user_path %>" data-account-url="<%= user_path %>">My account</a></li>
	<li><a href="<%= archives_path %>" data-backup-url="<%= archives_path %>">All backups</a></li>
	<li><a href="<%= latest_archives_path %>" data-latest-backup-url="<%= latest_archives_path %>">Active backup</a></li>
	<li><a href="<%= latest_download_archives_path %>" data-download-latest-backup-url="<%= latest_download_archives_path %>">Download active backup</a></li>
</ul>
